body {
    margin: 0;
    padding: 0;
    background-image: url("../src/images/back.jpg");
    background-size: 2000px 1000px;
    background-repeat: no-repeat;
}

@font-face {
    font-family: 'BlenderPro-Medium';
    src: url('fonts/BlenderPro-Medium.eot'), url('fonts/BlenderPro-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.game {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gui{
    height: 100vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player-img{
    margin: auto;
    width: 140px;
    height: 140px;
    border-radius: 10px;
    border: 3px solid #02d7f2;
}

.player-tab{
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player-name{
    margin: 12px 0 5px 0;
    font-family: 'BlenderPro-Medium';
    font-style: normal;
    font-weight: 400;
    color: #F3E600;
    font-size: 26px;
    line-height: 22px;
    text-align: center;
}

/* .name-white{
    border: 1px solid #ccffff;
}

.name-black{
    border: 1px solid black;
} */

.bones{
    margin-top: 95px;
    margin-bottom: 95px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center
}

.bone{
    height: 50px;
    width: 50px;
    margin-left: 5px;
    margin-right: 5px;
    border: black 1px solid;
    background: radial-gradient(circle, #9C19E0 55%, 	#000D6B 100%);
    border-radius: 6px 6px 6px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.num{
    margin: 0;
    padding: 0;
    font-family: 'BlenderPro-Medium';
    font-style: normal;
    font-weight: 400;
    color: #F3E600;
    font-size: 36px;
    line-height: 22px;
    text-align: center;
}

.dev-instr{
    display: flex;
    flex-direction: column;
}

.info-tab{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    border: #9C19E0 2px solid;
    border-radius: 10px;
    background-color: hsla(233, 100%, 21%, 0.504);
}

.turn-info{
    height: 200px;
}

.turn-text{
    margin: 15px;
    font-family: 'BlenderPro-Medium';
    font-style: normal;
    font-weight: 400;
    color: #F3E600;
    font-size: 36px;
    line-height: 22px;
    text-align: center;
}

.chips-info-text{
    margin: 15px;
    font-family: 'BlenderPro-Medium';
    font-style: normal;
    font-weight: 400;
    color: #F3E600;
    font-size: 28px;
    line-height: 22px;
    text-align: center;
}